{% extends 'annees.twig' %}

{% block main %}
<aside>
<ul>
    {% for films in tableau_films %}
    <li><a href="films_par_annees_liste.php?id={{ films.annee }}">{{ films.annee }}</a></li>
    {% endfor %}
</ul>
</aside>
<section class="container">
<div class="right">
    <div><a href="films_par_annees.php?id={{ id }}"><i class="bi bi-grid"></i></a></div>
    <div><a href="films_par_annees_liste.php?id={{ id }}"><i class="bi bi-list"></i></a></div>
</div>
{% for film in tableau_annees %}
<article class="liste">
    <div>
        <a href="detail.php?id={{film.id}}"><img src="{{ film.affiche }}" alt="{{ film.nom_film }}"></a>
    </div>
    <div class="colonne">            
        <p>{{ film.nom_film }} de {{ film.realisateur }}</p>
        <p>{{ film.theme }} {{ film.annee }}</p>
        <p class="margin_off">Résumé :</p>
        <p class="margin_off">{{film.synopsis}}</p>
    </div>
</article>
{% endfor %}
</section>
{% endblock %}

