		<footer class="bg-green-gradient text-white">
			<div class="flex w-full justify-center">
				<img class="hover:scale-[.98] origin-top transition duration-300" src="{{ asset('img/AZURE_footer.svg') }}" alt="certificat guide">
			</div>
			<section class="w-full flex flex-col mx-auto flex-nowrap md:flex-row md:flex-wrap xl:flex-nowrap gap-[100px] justify-start xl:justify-center mt-[100px] px-[20px] xl:px-0">
				<div class="flex flex-col gap-[20px] w-full xl:w-fit items-center">
					<img class="h-[70px] hover:scale-[.98] origin-top transition duration-300" src="{{ asset('img/azure_white.svg') }}" alt="certificat guide">
					<ul class="flex gap-[10px]">
						<li>
							<a href=""><img class="h-[20px]" src="{{ asset('img/icons/Facebook.svg') }}" alt="certificat guide"></a>
						</li>
						<li>
							<a href=""><img class="h-[20px]" src="{{ asset('img/icons/Instagram.svg') }}" alt="certificat guide"></a>
						</li>
						<li>
							<a href=""><img class="h-[20px]" src="{{ asset('img/icons/X.svg') }}" alt="certificat guide"></a>
						</li>
						<li>
							<a href=""><img class="h-[20px]" src="{{ asset('img/icons/LinkedIn.svg') }}" alt="certificat guide"></a>
						</li>
					</ul>
				</div>
				<div class="flex flex-col gap-[15px]">
					<p class="text-[18px] font-[500] w-fit">Informations générales</p>
					<div class="flex flex-col gap-[20px]">
						<div class="flex flex-col gap-[20px] text-[15px]">
							<ul>
								<li>Azure SA</li>
								<li>Société au capital de 1 530 000 €</li>
								<li>Courchevel, France</li>
							</ul>
							<ul>
								<li>contact@azure.fr</li>
								<li>+33 9 32 73 74 00</li>
							</ul>
						</div>
						<div class="flex flex-col gap-[20px] text-[15px]">
							<ul>
								<li>Azure SA</li>
								<li>Société au capital de 1 650 000 CHF</li>
								<li>Champéry, Suisse</li>
							</ul>
							<ul>
								<li>contact@azure.ch</li>
								<li>+41 32 567 89 00</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="flex flex-col gap-[15px] w-fit">
					<p class="text-[18px] font-[500]">Le collectif</p>
					<ul>
						<li><a href="">À propos</a></li>
						<li><a href="">Équipe</a></li>
						<li><a href="">Carrière</a></li>
					</ul>
				</div>
				<div class="flex flex-col gap-[15px] w-fit">
					<p class="text-[18px] font-[500]">Besoin d'aide ?</p>
					<ul>
						<li><a href="">FAQ</a></li>
						<li><a href="">Contactez-nous</a></li>
					</ul>
				</div>
				<div class="flex flex-col gap-[15px] w-fit">
					<p class="text-[18px] font-[500]">Informations légales</p>
					<ul>
						<li><a href="{{path('legal')}}">Politique de confidentialité</a></li>
						<li><a href="{{path('legal')}}">Termes et conditions</a></li>
						<li><a href="{{path('legal')}}">Préférences de cookie</a></li>
						<li><a href="{{path('legal')}}">Conditions générales d'utilisation</a></li>
					</ul>
				</div>
			</section>
			<div class="w-full">
				<img src="{{ asset('img/mountain_footer.svg') }}" alt="">
			</div>
			<p class="text-center text-[15px] py-[15px]">2025 © Copyright Azure. Tous droits réservés.</p>
		</footer>